@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Ubuntu:wght@400;700&display=swap');
:root{
    --obscuro: #011C40;
    --obscuro2: #062A40;
    --claro: #4982A6;
    --claro2: #075473;
    --resaltado: #BF441F;
    --blanco: #d1d1d1;
    --transparente: transparent;
    --fuenteH: 'Staatliches', cursive;
    --fuenteP: 'Ubuntu', sans-serif;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: proximity;
    font-size: 62.5%; 
    scroll-behavior: smooth;
    
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
p{
    text-align: start!important;
    color: var(--blanco);
}
body {
    min-height: 100%;
    font-size: 1.6rem;
    font-family: var(--fuenteP);
    background-color: #062A40;
}
h1{
    line-height: 0;
    font-family: var(--fuenteH);
    text-align: center;
}
h2,h3,h4{
    line-height: 1;
    font-family: var(--fuenteH);
    text-align: left;
}

p{
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
.contenedor{
    margin: 0 10%;
}

button{
    padding: .1rem;
    height: fit-content;
}
i{
    font-size: 2.5rem;
    margin: .5rem;
}



/*NAV-BAR*/



.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--transparente);
    width: 100%;
    position: fixed;
    padding: 0 10rem;
    z-index: 10;
}
nav{
    width: 30rem;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: var(--blanco);
    transition: .3s transform ease;
}
nav a:hover{
    transform: translate(0, -.1rem);
}



/*HERO*/


.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: var(--obscuro2);
    background-blend-mode: color-dodge;
    animation-name: hero;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes hero {
    0%{
        background-color: var(--obscuro);
    }
    33%{
        background-color: var(--obscuro2);
    }
    66%{
        background-color: var(--claro2);
    }
    100%{
        background-color: rgb(18, 18, 19);
    }
}
.estrellasP{
    position: absolute;
    height: 80%;
    width: 80%;
    object-fit: contain;
    transform: translate(-50%, -50%) rotate(45deg);
    filter: blur(3px);
    top: 10rem;
    left: 10rem;
    animation-name: estrellasP;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
@keyframes estrellasP {
    0%{
        transform: rotate(45deg) scale(2, 2);
        filter: blur(0);
    }
    100%{
        transform: rotate(90deg) scale(1, 1);
        filter: blur(3);
    }
}
.estrellasG{
    position: absolute;
    height: 80%;
    width: 80%;
    object-fit: contain;
    transform: translate(-50%, -50%) rotate(0);
    filter: blur(1.5px);
    top: 10rem;
    left: 10rem;
    animation-name: estrellasG;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes estrellasG {
    0%{
        transform: rotate(0);
        filter: blur(1.5px);
    }
    100%{
        transform: rotate(45deg) scale(2, 2);
        filter: blur(0);
    }
}
.hero__titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4, 4);
    animation-name: titulos;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes titulos {
    0%{
        filter: blur(5px);
        
    }
    25%{
        
    }    
    50%{
        filter: blur(0);
    }
    100%{
          
    }
}
.hero__titulo h1, h2{
    color: var(--transparente);
    text-shadow: -.2rem 0 0 var(--transparente);
    animation-name: titulosH;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes titulosH {
    0%{

    }
    100%{
        color: var(--claro);
        text-shadow: .2rem 0 0 var(--claro2);
    }
}

.btn_cv{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    border: .3rem solid var(--resaltado);
    border-radius: 1rem;
    color: var(--resaltado);
    background-color: var(--transparente);
    font-weight: bold;
    padding: .5rem 1rem;
    transition: .3s background-color ease;
}.btn_cv:hover{
    background-color: var(--claro);
}